.autoTagWithLocoaiContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.addRectangularCopy30Icon {
  position: absolute;
  height: 50%;
  width: 1.6%;
  top: 25%;
  right: 0;
  bottom: 25%;
  left: 98.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.autoTagWithLocoaiParent {
  position: absolute;
  height: 2.48%;
  width: 92.59%;
  top: 2.48%;
  right: 3.89%;
  bottom: 95.03%;
  left: 3.52%;
  font-size: var(--font-size-xs);
}
.suggestedTagsForContainer {
  position: absolute;
  top: 19.41%;
  left: 3.7%;
}
.groupChild,
.groupItem {
  height: 2.19%;
  width: 100%;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.groupChild {
  position: absolute;
  top: 98.91%;
  bottom: -1.09%;
  left: 0;
}
.groupItem {
  top: -1.09%;
  bottom: 98.91%;
}
.groupInner,
.groupItem,
.notTagged {
  position: absolute;
  left: 0;
}
.groupInner {
  height: 3.12%;
  width: 21.55%;
  top: 98.04%;
  right: 78.45%;
  bottom: -1.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notTagged {
  top: 9.38%;
  font-weight: 500;
}
.div {
  position: relative;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 59.14px;
  border-radius: var(--br-md);
  background-color: var(--studio-darkmode-enabledlabel-e8effd);
  width: 26px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-4xs);
}
.notTaggedParent {
  position: absolute;
  height: 50%;
  width: 17.03%;
  top: 24.8%;
  right: 80.4%;
  bottom: 25.2%;
  left: 2.57%;
}
.container,
.tagged {
  position: absolute;
  top: 9.38%;
  left: 0;
}
.container {
  top: 0;
  left: 41px;
  border-radius: var(--br-md);
  background-color: var(--studio-lightmode-lightseparator-ecf0f6);
  width: 23px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-4xs);
}
.taggedParent {
  position: absolute;
  height: 50%;
  width: 12.8%;
  top: 24.8%;
  right: 61%;
  bottom: 25.2%;
  left: 26.2%;
  text-align: center;
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.vectorParent {
  position: absolute;
  height: 4.97%;
  width: 92.59%;
  top: 12.58%;
  right: 3.7%;
  bottom: 82.45%;
  left: 3.7%;
  color: var(--studio-darkmode-maincta-457eff);
}
.showLayersFor {
  position: relative;
  font-size: var(--font-size-4xs);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
  text-align: left;
}
.homePageWrapper {
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--studio-darkmode-maincta-457eff);
  padding: var(--padding-4xs) var(--padding-2xs);
  justify-content: center;
  color: var(--studio-darkmode-maincta-457eff);
}
.homePageWrapper,
.hotelsPageWrapper,
.showLayersForParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hotelsPageWrapper {
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--studio-lightmode-lightseparator-ecf0f6);
  padding: var(--padding-4xs) var(--padding-2xs);
  justify-content: center;
}
.showLayersForParent {
  position: absolute;
  top: 42px;
  left: 19px;
  justify-content: flex-start;
  gap: 6px;
  text-align: center;
}
.frameChild {
  position: absolute;
  height: calc(100% + 52.97px);
  top: 24.53px;
  bottom: -77.5px;
  left: 201.5px;
  border-right: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 1px;
}
.button,
.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  position: relative;
  font-size: 10.98px;
  letter-spacing: 0.34px;
  line-height: 19.03px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: center;
  width: 107.6px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  position: absolute;
  top: 32.98px;
  left: 11px;
  border-radius: 2.93px;
  width: 120px;
  height: 41px;
  overflow: hidden;
  flex-direction: column;
  transition: 0.3s;
}
.button:hover {
  background-color: #846028;
}
.frameItem {
  position: absolute;
  top: 0.03px;
  left: 0;
  background-color: var(--studio-lightmode-midseparator-dee3eb);
  width: 504px;
  height: 25px;
  opacity: 0.3;
}
.frameInner {
  position: absolute;
  height: calc(100% - 142px);
  top: -0.47px;
  bottom: 142.47px;
  left: 201.5px;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 1px;
}
.searchButton {
  position: absolute;
  height: 100%;
  width: 79.89%;
  top: 0;
  left: 20.11%;
  display: inline-block;
}
.rectangleDiv {
  position: absolute;
  top: 0.9px;
  left: 0;
  border: 1px dashed var(--studio-lightmode-placeholders-bac2d6);
  box-sizing: border-box;
  width: 11px;
  height: 10px;
}
.groupWrapper,
.searchButtonParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupWrapper {
  height: 7.86%;
  width: 17.02%;
  top: 3.95%;
  right: 80.78%;
  bottom: 88.2%;
  left: 2.2%;
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.blocktextInputIcon {
  position: relative;
  width: 15.14px;
  height: 14.93px;
  flex-shrink: 0;
}
.autoComplete {
  position: relative;
  font-weight: 500;
}
.autoCompleteWrapper,
.blocktextInputParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.blocktextInputParent {
  gap: var(--gap-4xs);
}
.match {
  position: relative;
  letter-spacing: 0.01em;
}
.matchWrapper {
  border-radius: var(--br-4xs);
  background-color: var(--color-mediumseagreen-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.groupIcon {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.groupContainer {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--studio-darkmode-maincta-457eff);
}
.frameGroup,
.groupContainer,
.recommendationsdefault {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameGroup {
  justify-content: flex-end;
  gap: var(--gap-xs);
  text-align: center;
  color: var(--studio-universal-confirm-4fc786);
}
.recommendationsdefault {
  position: absolute;
  top: 71.29px;
  left: 214px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.blockbuttonIcon {
  position: relative;
  width: 16.19px;
  height: 15.62px;
  flex-shrink: 0;
}
.recommendationsdefault1 {
  position: absolute;
  top: 33.29px;
  left: 214px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.blockselectIcon {
  position: relative;
  width: 14.15px;
  height: 13.93px;
  flex-shrink: 0;
}
.matchFrame {
  border-radius: var(--br-4xs);
  background-color: var(--color-mediumslateblue-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1,
.recommendationsdefault2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent1 {
  justify-content: flex-end;
  gap: var(--gap-xs);
  text-align: center;
  color: var(--color-mediumslateblue-100);
}
.recommendationsdefault2 {
  position: absolute;
  top: 109.29px;
  left: 214px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.recommendations {
  position: absolute;
  height: 7.86%;
  width: 22.8%;
  top: 3.53%;
  left: 42.8%;
  font-size: var(--font-size-5xs);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
  display: inline-block;
}
.vectorIcon {
  position: relative;
  width: 5px;
  height: 3px;
  flex-shrink: 0;
}
.showMoreParent {
  position: absolute;
  top: 149.29px;
  left: 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-4xs);
  color: var(--studio-darkmode-maincta-457eff);
}
.lineParent {
  position: absolute;
  height: 26.09%;
  width: 92.59%;
  top: 23.29%;
  right: 3.7%;
  bottom: 50.62%;
  left: 3.7%;
  border-radius: var(--br-2xs);
  background-color: var(--studio-lightmode-lightbg-f8f9fb);
  overflow: hidden;
}
.lineDiv {
  position: absolute;
  height: calc(100% + 9.25px);
  top: 24.91px;
  bottom: -34.16px;
  left: 201.5px;
  border-right: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 1px;
}
.frameChild3 {
  position: absolute;
  top: 0.41px;
  left: 0;
  background-color: var(--studio-lightmode-midseparator-dee3eb);
  width: 504px;
  height: 25px;
  opacity: 0.3;
}
.frameChild4,
.recommendationsdefault3 {
  position: absolute;
  box-sizing: border-box;
}
.frameChild4 {
  height: calc(100% - 142px);
  top: -0.09px;
  bottom: 142.09px;
  left: 201.5px;
  border-right: 1px solid var(--color-lightgray-200);
  width: 1px;
}
.recommendationsdefault3 {
  top: 71.66px;
  left: 214px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  align-items: center;
  justify-content: space-between;
}
.blockdatepickerIcon {
  position: relative;
  width: 14.16px;
  height: 13.94px;
  flex-shrink: 0;
}
.recommendationsdefault4 {
  position: absolute;
  top: 33.66px;
  left: 214px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.selectoutlined {
  align-self: stretch;
}
.selectoutlinedWrapper {
  position: absolute;
  top: 34.38px;
  left: 10px;
  width: 179px;
  display: flex;
  flex-direction: column;
  padding: 2.803030252456665px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.datefieldCopy {
  position: absolute;
  top: 0;
  left: 20.99%;
}
.layerAutoLayoutVertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}
.datefieldCopyParent,
.recommendations1 {
  position: absolute;
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.datefieldCopyParent {
  height: 7.14%;
  width: 16.2%;
  top: 4.67%;
  right: 81.6%;
  bottom: 88.19%;
  left: 2.2%;
  font-size: var(--font-size-4xs);
}
.recommendations1 {
  height: 7.86%;
  width: 22.8%;
  top: 3.76%;
  left: 42.8%;
  font-size: var(--font-size-5xs);
  display: inline-block;
}
.recommendationsdefault5,
.showMoreGroup {
  position: absolute;
  left: 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recommendationsdefault5 {
  top: 109.66px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.03);
  width: 274px;
  height: 34px;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.showMoreGroup {
  top: 149.66px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-4xs);
  color: var(--studio-darkmode-maincta-457eff);
}
.lineGroup {
  position: absolute;
  height: 26.09%;
  width: 92.59%;
  top: 50.31%;
  right: 3.7%;
  bottom: 23.6%;
  left: 3.7%;
  border-radius: var(--br-2xs);
  background-color: var(--studio-lightmode-lightbg-f8f9fb);
  overflow: hidden;
}
.frameChild10,
.frameChild8 {
  position: absolute;
  height: calc(100% + 7.25px);
  top: 24.91px;
  bottom: -32.16px;
  left: 201.5px;
  border-right: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 1px;
}
.frameChild10 {
  height: calc(100% - 144px);
  top: -0.09px;
  bottom: 144.09px;
  border-right: 1px solid var(--color-lightgray-200);
}
.blockautoCompleteIcon {
  position: relative;
  width: 14.14px;
  height: 14.07px;
  flex-shrink: 0;
}
.arrivalField {
  position: absolute;
  top: 0;
  left: 25%;
}
.arrivalFieldParent {
  position: absolute;
  height: 7.06%;
  width: 13.6%;
  top: 4.61%;
  right: 84.2%;
  bottom: 88.33%;
  left: 2.2%;
  font-size: var(--font-size-4xs);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.selectoutlinedContainer {
  position: absolute;
  top: 34.38px;
  left: 12px;
  width: 177px;
  display: flex;
  flex-direction: column;
  padding: 2.803030014038086px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.recommendations2 {
  position: absolute;
  height: 7.76%;
  width: 22.8%;
  top: 4.61%;
  left: 42.8%;
  font-size: var(--font-size-5xs);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
  display: inline-block;
}
.lineContainer {
  position: absolute;
  height: 26.4%;
  width: 92.59%;
  top: 77.33%;
  right: 3.7%;
  bottom: -3.73%;
  left: 3.7%;
  border-radius: var(--br-2xs);
  background-color: var(--studio-lightmode-lightbg-f8f9fb);
  overflow: hidden;
}
.groupParent,
.rectangleIcon,
.rectangleIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.groupParent {
  background-color: var(--primary-contrast);
  width: 540px;
  height: 644px;
}
.rectangleIcon,
.rectangleIcon1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.rectangleIcon1 {
  height: 89.93%;
  top: 10.07%;
  opacity: 0.19;
}
.groupChild1 {
  position: absolute;
  top: 99.2px;
  left: 7.65px;
  border-top: 0.7px solid #e9edf6;
  box-sizing: border-box;
  width: 270.7px;
  height: 0.7px;
}
.tagManually {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.rectangleIcon2 {
  position: absolute;
  height: 102.04%;
  width: 101.64%;
  top: -1.02%;
  right: -0.82%;
  bottom: -1.02%;
  left: -0.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.file,
.iconblockbutton {
  position: absolute;
  top: 64.64%;
  left: 0.32%;
}
.iconblockbutton {
  height: 48.89%;
  width: 101.06%;
  top: -1.61%;
  right: 2.27%;
  bottom: 52.72%;
  left: -3.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group3 {
  position: absolute;
  height: 63.48%;
  width: 24.67%;
  top: 17.13%;
  right: 36.98%;
  bottom: 19.39%;
  left: 38.35%;
}
.blockdefaultCopy3,
.rectangleIcon3 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 41.03%;
  right: 25.77%;
  bottom: 41.03%;
  left: 51.55%;
}
.rectangleIcon3 {
  height: 100%;
  width: 101.64%;
  top: -1.02%;
  right: -0.82%;
  bottom: 1.02%;
  left: -0.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notSure {
  position: absolute;
  top: 64.7%;
  left: 0;
}
.iconblockbutton1 {
  position: absolute;
  height: 45.96%;
  width: 43.78%;
  top: -1.6%;
  right: 28.35%;
  bottom: 55.64%;
  left: 27.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group5 {
  position: absolute;
  height: 63.6%;
  width: 57.38%;
  top: 17.01%;
  right: 21.17%;
  bottom: 19.39%;
  left: 21.45%;
}
.blockdefaultCopy5 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 82.05%;
  right: 25.77%;
  bottom: 0;
  left: 51.55%;
}
.textarea {
  position: absolute;
  top: 64.5%;
  left: 0;
}
.iconblockbutton2 {
  position: absolute;
  height: 48.13%;
  width: 43.11%;
  top: -1.61%;
  right: 28.06%;
  bottom: 53.48%;
  left: 28.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group6 {
  position: absolute;
  height: 63.23%;
  width: 57.38%;
  top: 17.39%;
  right: 21.43%;
  bottom: 19.39%;
  left: 21.19%;
}
.blockdefaultCopy6,
.rectangleIcon5 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 20.51%;
  right: 25.4%;
  bottom: 61.54%;
  left: 51.92%;
}
.rectangleIcon5 {
  height: 102.04%;
  width: 101.64%;
  top: -1.02%;
  right: -0.82%;
  bottom: -1.02%;
  left: -0.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.video {
  position: absolute;
  top: 64.68%;
  left: 0;
}
.iconblockbutton3 {
  position: absolute;
  height: 49.06%;
  width: 66.42%;
  top: -1.61%;
  right: 16.89%;
  bottom: 52.55%;
  left: 16.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group7 {
  position: absolute;
  height: 63.55%;
  width: 37.7%;
  top: 17.06%;
  right: 31.05%;
  bottom: 19.39%;
  left: 31.24%;
}
.blockdefaultCopy12 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 61.54%;
  right: 51.55%;
  bottom: 20.51%;
  left: 25.77%;
  color: var(--color-lightsteelblue-300);
}
.button2 {
  position: absolute;
  top: 64.86%;
  left: 0;
}
.iconblockbutton4 {
  position: absolute;
  height: 49.89%;
  width: 59.94%;
  top: -1.6%;
  right: 20.87%;
  bottom: 51.71%;
  left: 19.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group8 {
  position: absolute;
  height: 63.88%;
  width: 44.26%;
  top: 16.73%;
  right: 27.49%;
  bottom: 19.39%;
  left: 28.24%;
}
.blockdefaultCopy7 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 0;
  right: 0;
  bottom: 82.05%;
  left: 77.32%;
}
.image {
  position: absolute;
  top: 64.8%;
  left: 0;
}
.iconblockbutton5 {
  position: absolute;
  height: 49.31%;
  width: 59.53%;
  top: -1.6%;
  right: 22.11%;
  bottom: 52.29%;
  left: 18.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group9 {
  position: absolute;
  height: 63.77%;
  width: 42.62%;
  top: 16.84%;
  right: 27.91%;
  bottom: 19.39%;
  left: 29.47%;
}
.blockdefaultCopy8 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 0.1%;
  right: 25.77%;
  bottom: 81.95%;
  left: 51.55%;
  color: var(--color-lightsteelblue-300);
}
.select {
  position: absolute;
  top: 64.52%;
  left: 0;
}
.iconblockbutton6 {
  position: absolute;
  height: 47.86%;
  width: 60.08%;
  top: -1.61%;
  right: 20.76%;
  bottom: 53.75%;
  left: 19.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group10 {
  position: absolute;
  height: 63.28%;
  width: 40.98%;
  top: 17.33%;
  right: 29.27%;
  bottom: 19.39%;
  left: 29.75%;
}
.blockdefaultCopy4 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 41.03%;
  right: 0;
  bottom: 41.03%;
  left: 77.32%;
}
.audio {
  position: absolute;
  top: 64.85%;
  left: 0;
}
.iconblockbutton7 {
  position: absolute;
  height: 48.86%;
  width: 61.8%;
  top: -1.6%;
  right: 20.71%;
  bottom: 52.74%;
  left: 17.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group11 {
  position: absolute;
  height: 63.86%;
  width: 39.34%;
  top: 16.75%;
  right: 29.69%;
  bottom: 19.39%;
  left: 30.96%;
}
.blockdefaultCopy16 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 61.54%;
  right: 25.77%;
  bottom: 20.51%;
  left: 51.55%;
  color: var(--color-lightsteelblue-300);
}
.link {
  position: absolute;
  top: 65.26%;
  left: 0;
}
.iconblockbutton8 {
  position: absolute;
  height: 48.4%;
  width: 90.15%;
  top: 0;
  right: 4.25%;
  bottom: 51.6%;
  left: 5.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group12 {
  position: absolute;
  height: 64.62%;
  width: 27.87%;
  top: 15.99%;
  right: 35.7%;
  bottom: 19.39%;
  left: 36.43%;
}
.blockdefaultCopy {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 0;
  right: 51.55%;
  bottom: 82.05%;
  left: 25.77%;
}
.form {
  position: absolute;
  top: 63.81%;
  left: 0;
}
.iconblockbutton9 {
  position: absolute;
  height: 45.25%;
  width: 72.12%;
  top: -1.65%;
  right: 13.47%;
  bottom: 56.39%;
  left: 14.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group13 {
  position: absolute;
  height: 62.03%;
  width: 34.43%;
  top: 18.59%;
  right: 32.82%;
  bottom: 19.39%;
  left: 32.75%;
}
.blockdefaultCopy9 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 20.51%;
  right: 77.32%;
  bottom: 61.54%;
  left: 0;
}
.container1 {
  position: absolute;
  top: 65.19%;
  left: 0;
}
.iconblockbutton10 {
  position: absolute;
  height: 51.26%;
  width: 41.5%;
  top: -1.58%;
  right: 29.58%;
  bottom: 50.32%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group14 {
  position: absolute;
  height: 64.49%;
  width: 63.93%;
  top: 16.12%;
  right: 17.83%;
  bottom: 19.39%;
  left: 18.23%;
}
.blockdefaultCopy17 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 61.54%;
  right: 77.32%;
  bottom: 20.51%;
  left: 0;
  color: var(--color-lightsteelblue-300);
}
.label {
  position: absolute;
  top: 65.63%;
  left: 0;
}
.iconblockbutton11 {
  position: absolute;
  height: 48.33%;
  width: 68.25%;
  top: 0;
  right: 16.14%;
  bottom: 51.67%;
  left: 15.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group15 {
  position: absolute;
  height: 65.31%;
  width: 36.07%;
  top: 15.3%;
  right: 31.75%;
  bottom: 19.39%;
  left: 32.18%;
}
.blockdefaultCopy15 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 20.51%;
  right: 51.55%;
  bottom: 61.54%;
  left: 25.77%;
}
.radio {
  position: absolute;
  top: 64.77%;
  left: 0;
}
.iconblockbutton12 {
  position: absolute;
  height: 49.44%;
  width: 67.12%;
  top: -1.6%;
  right: 16.81%;
  bottom: 52.16%;
  left: 16.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group16 {
  position: absolute;
  height: 63.71%;
  width: 37.7%;
  top: 16.9%;
  right: 31.01%;
  bottom: 19.39%;
  left: 31.29%;
}
.blockdefaultCopy10,
.rectangleIcon15 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 41.03%;
  right: 51.55%;
  bottom: 41.03%;
  left: 25.77%;
}
.rectangleIcon15 {
  height: 100%;
  width: 101.64%;
  top: -1.02%;
  right: -0.82%;
  bottom: 1.02%;
  left: -0.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.youtube {
  position: absolute;
  top: 63.45%;
  left: 0;
}
.iconblockbutton13 {
  position: absolute;
  height: 41.22%;
  width: 44.2%;
  top: -1.66%;
  right: 26.97%;
  bottom: 60.44%;
  left: 28.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group17 {
  position: absolute;
  height: 61.42%;
  width: 57.38%;
  top: 19.2%;
  right: 21.84%;
  bottom: 19.39%;
  left: 20.78%;
}
.blockdefaultCopy19 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 82.05%;
  right: 77.32%;
  bottom: 0;
  left: 0;
  color: var(--color-lightsteelblue-300);
}
.text {
  position: absolute;
  top: 64.64%;
  left: 0;
}
.iconblockbutton14 {
  position: absolute;
  height: 48.91%;
  width: 84.52%;
  top: -1.61%;
  right: 9.01%;
  bottom: 52.7%;
  left: 6.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group18 {
  position: absolute;
  height: 63.49%;
  width: 29.51%;
  top: 17.13%;
  right: 34.87%;
  bottom: 19.39%;
  left: 35.62%;
}
.blockdefaultCopy11 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 0;
  right: 77.32%;
  bottom: 82.05%;
  left: 0;
}
.input {
  position: absolute;
  top: 64.48%;
  left: 0;
}
.iconblockbutton15 {
  position: absolute;
  height: 48.21%;
  width: 72.11%;
  top: -1.61%;
  right: 15.09%;
  bottom: 53.41%;
  left: 12.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group19 {
  position: absolute;
  height: 63.2%;
  width: 34.43%;
  top: 17.42%;
  right: 32.27%;
  bottom: 19.39%;
  left: 33.31%;
}
.blockdefaultCopy13 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 20.51%;
  right: 0;
  bottom: 61.54%;
  left: 77.32%;
}
.lottie {
  position: absolute;
  top: 63.47%;
  left: 0;
}
.iconblockbutton16 {
  position: absolute;
  height: 44.9%;
  width: 71.06%;
  top: -1.08%;
  right: 16.55%;
  bottom: 56.18%;
  left: 12.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group20 {
  position: absolute;
  height: 61.45%;
  width: 37.7%;
  top: 19.16%;
  right: 30.99%;
  bottom: 19.39%;
  left: 31.31%;
}
.blockdefaultCopy20 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 61.54%;
  right: 0;
  bottom: 20.51%;
  left: 77.32%;
}
.iconblockbutton17 {
  position: absolute;
  height: 49.07%;
  width: 38.2%;
  top: -1.61%;
  right: 31.53%;
  bottom: 52.54%;
  left: 30.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group21 {
  position: absolute;
  height: 63.56%;
  width: 65.57%;
  top: 17.06%;
  right: 16.8%;
  bottom: 19.39%;
  left: 17.62%;
}
.blockdefaultCopy14 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 41.03%;
  right: 77.32%;
  bottom: 41.03%;
  left: 0;
}
.iconblockbutton18 {
  position: absolute;
  height: 46.14%;
  width: 55.08%;
  top: -1.6%;
  right: 22.89%;
  bottom: 55.46%;
  left: 22.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group22 {
  position: absolute;
  height: 63.78%;
  width: 45.9%;
  top: 16.83%;
  right: 26.85%;
  bottom: 19.39%;
  left: 27.25%;
}
.blockdefaultCopy21,
.group1 {
  position: absolute;
  height: 17.95%;
  width: 22.68%;
  top: 82.05%;
  right: 51.55%;
  bottom: 0;
  left: 25.77%;
}
.group1 {
  height: 93.02%;
  width: 99.81%;
  top: 6.98%;
  right: 0;
  left: 0.19%;
}
.basicTags,
.group4 {
  position: absolute;
  left: 0;
}
.basicTags {
  top: 0;
  font-size: var(--font-size-4xs);
  color: var(--color-lightsteelblue-200);
}
.group4 {
  height: 92.57%;
  width: 100%;
  top: 7.43%;
  right: 0;
  bottom: 0;
  font-size: var(--font-size-5xs);
}
.tagManuallyParent {
  position: absolute;
  top: -0.16px;
  left: 0;
  width: 269.5px;
  height: 317.05px;
}
.groupInner1,
.lineIcon {
  position: absolute;
  overflow: hidden;
}
.groupInner1 {
  top: 111.26px;
  left: 8px;
  width: 270px;
  height: 286px;
  opacity: 0.5;
}
.lineIcon {
  height: 1.75%;
  width: 100%;
  top: 0.02%;
  right: 0;
  bottom: 98.23%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.tagLayers,
.tagYourLayers {
  position: absolute;
  left: 2.8%;
}
.tagLayers {
  top: 17.08%;
  font-weight: 500;
}
.tagYourLayers {
  top: 47.92%;
  font-size: var(--font-size-5xs);
  color: var(--color-lightsteelblue-200);
}
.icontabUp {
  position: absolute;
  height: 30%;
  width: 4.2%;
  top: 37.38%;
  right: 3.5%;
  bottom: 32.62%;
  left: 92.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group23,
.group31,
.rectangleIcon22 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.group31 {
  height: 100%;
  bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
}
.group23,
.rectangleIcon22 {
  height: 10.07%;
  bottom: 89.93%;
}
.rectangleIcon22 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.autoTagWithLocoai {
  position: absolute;
  top: 13.89%;
  left: 3.87%;
  font-weight: 500;
}
.forSelectedFrames {
  position: absolute;
  top: 50%;
  left: 3.87%;
  font-size: var(--font-size-5xs);
  color: var(--color-lightsteelblue-200);
}
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: var(--studio-darkmode-maincta-457eff);
  width: 32px;
  height: 16px;
}
.ellipseIcon {
  position: absolute;
  top: 2px;
  left: 18px;
  width: 12px;
  height: 12px;
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 10px;
  left: 227px;
  width: 32px;
  height: 16px;
}
.rectangleParent {
  height: 9.06%;
  width: 94.41%;
  top: 13.09%;
  right: 2.8%;
  bottom: 77.85%;
  left: 2.8%;
}
.cilmenuIcon,
.group2,
.groupIcon1 {
  position: absolute;
  height: 61.69%;
  width: 100%;
  top: 12.63%;
  right: 0;
  bottom: 25.68%;
  left: 0;
}
.cilmenuIcon,
.groupIcon1 {
  height: 5.59%;
  top: 0;
  bottom: 94.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cilmenuIcon {
  height: 30.43%;
  width: 4.9%;
  top: 34.78%;
  right: 2.45%;
  bottom: 34.78%;
  left: 92.66%;
}
.nikeLandingPage {
  position: absolute;
  top: 26.67%;
  left: 14.2%;
}
.groupIcon2,
.groupIcon3 {
  position: absolute;
  height: 10%;
  width: 2.96%;
  top: 45%;
  right: 4.73%;
  bottom: 45%;
  left: 92.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon3 {
  height: 50.76%;
  width: 6.22%;
  top: 25.12%;
  right: 89.2%;
  bottom: 24.12%;
  left: 4.58%;
}
.dropdownproject {
  position: absolute;
  height: 65.22%;
  width: 59.09%;
  top: 17.39%;
  right: 38.11%;
  bottom: 17.39%;
  left: 2.8%;
}
.web {
  position: absolute;
  top: 26.67%;
  left: 31.67%;
}
.groupIcon4,
.groupIcon5 {
  position: absolute;
  height: 10%;
  width: 6.62%;
  top: 45%;
  right: 8.06%;
  bottom: 45%;
  left: 85.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon5 {
  height: 30%;
  width: 15.44%;
  top: 35%;
  right: 75.06%;
  bottom: 35%;
  left: 9.5%;
}
.dropdownplatform {
  position: absolute;
  height: 65.22%;
  width: 26.4%;
  top: 17.39%;
  right: 9.62%;
  bottom: 17.39%;
  left: 63.99%;
}
.group24,
.lineIcon1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.lineIcon1 {
  height: 1.52%;
  top: 98.54%;
  bottom: -0.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group24 {
  height: 7.14%;
  top: 5.59%;
  bottom: 87.27%;
}
.defineBehaviour {
  position: absolute;
  top: 17.86%;
  left: 2.8%;
  font-weight: 500;
}
.editYourLayers {
  position: absolute;
  top: 48.81%;
  left: 2.8%;
  font-size: var(--font-size-5xs);
  color: var(--color-lightsteelblue-200);
}
.icontabUp1,
.lineIcon2 {
  position: absolute;
  height: 1.67%;
  width: 100%;
  top: -0.05%;
  right: 0;
  bottom: 98.39%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icontabUp1 {
  height: 28.57%;
  width: 4.2%;
  top: 38.1%;
  right: 3.5%;
  bottom: 33.33%;
  left: 92.31%;
}
.group121,
.group26 {
  position: absolute;
  height: 6.52%;
  width: 100%;
  top: 74.22%;
  right: 0;
  bottom: 19.25%;
  left: 0;
  opacity: 0.3;
}
.group26 {
  top: 80.75%;
  bottom: 12.73%;
}
.dragDrop {
  position: absolute;
  top: 17.86%;
  left: 2.8%;
  font-weight: 500;
  color: var(--value);
}
.addPreBuiltComponents {
  position: absolute;
  top: 48.81%;
  left: 2.8%;
  font-size: var(--font-size-5xs);
}
.comingSoon {
  position: absolute;
  top: 21.43%;
  left: 55.94%;
  font-size: 8px;
}
.group27 {
  position: absolute;
  height: 6.52%;
  width: 100%;
  top: 87.27%;
  right: 0;
  bottom: 6.21%;
  left: 0;
  opacity: 0.3;
  color: var(--color-lightsteelblue-200);
}
.carboncodeIcon,
.lineIcon5 {
  position: absolute;
  overflow: hidden;
}
.lineIcon5 {
  height: 1.75%;
  width: 100%;
  top: 0.03%;
  right: 0;
  bottom: 98.22%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.carboncodeIcon {
  top: 3px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.group30,
.group35 {
  position: absolute;
  height: 46.15%;
  width: 52.75%;
  top: 26.92%;
  right: 8.79%;
  bottom: 26.92%;
  left: 38.46%;
}
.group30 {
  height: 65%;
  width: 31.82%;
  top: 17.5%;
  right: 2.8%;
  bottom: 17.5%;
  left: 65.38%;
}
.rectangleCopyIcon,
.triangleIcon {
  position: absolute;
  height: 103.17%;
  width: 101.06%;
  top: -1.59%;
  right: -0.53%;
  bottom: -1.59%;
  left: -0.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.triangleIcon {
  height: 33.3%;
  width: 9.43%;
  top: 33.35%;
  right: 71.47%;
  bottom: 33.35%;
  left: 19.1%;
}
.preview {
  position: absolute;
  top: 26.19%;
  left: 35.22%;
}
.group210,
.group28 {
  position: absolute;
  height: 63%;
  width: 26.36%;
  top: 18.5%;
  right: 36.22%;
  bottom: 18.5%;
  left: 37.41%;
  color: var(--studio-darkmode-maincta-457eff);
}
.group28 {
  height: 6.21%;
  width: 100%;
  top: 93.79%;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--primary-contrast);
}
.group3Copy4Icon,
.group86 {
  position: absolute;
  height: 76.47%;
  width: 58.21%;
  top: 5.88%;
  right: 0;
  bottom: 17.65%;
  left: 41.79%;
}
.group3Copy4Icon {
  height: 100%;
  width: 30.71%;
  top: 0;
  right: 69.29%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.syncFlowNew {
  position: absolute;
  height: 94.44%;
  width: 99.45%;
  top: 2.02%;
  right: 0.54%;
  bottom: 3.53%;
  left: 0;
}
.group61,
.plugin15 {
  position: absolute;
  overflow: hidden;
}
.group61 {
  top: 615px;
  left: 9px;
  width: 38px;
  height: 18px;
  font-size: var(--font-size-3xs);
  color: var(--studio-darkmode-maincta-457eff);
}
.plugin15 {
  top: 0.38px;
  left: 540px;
  box-shadow: -6px 0 12px rgba(0, 0, 0, 0.05);
  width: 286px;
  height: 644px;
  font-size: var(--font-size-4xs);
}
.frameParent {
  position: relative;
  width: 100%;
  height: 644px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--value);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 960px) {
  .button {
    margin-right: auto;
  }
}
@media screen and (max-width: 420px) {
  .button {
    width: 100% !important;
  }
  .selectoutlinedContainer,
  .selectoutlinedWrapper {
    width: 100%;
  }
}
